.main_products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  gap: 20px;
}

.products_box {
  border: solid 2px black;
  max-width: 20rem;
  min-width: 15rem;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  flex-direction: column;
}

.products_name {
  font-size: 2rem;
  font-weight: bold;
}

.products_price {
  font-size: 1rem;
}

.products_quantity {
  font-size: 1rem;
  background-color: rgb(73, 125, 221);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  left: -6rem;
}

.picture_container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  width: 100%;
  object-fit: fill;
}

.buttons {
  display: flex;
  gap: 5px;
}